__pycache__/
*.pyc

.env

# =========================
# モデル重みディレクトリ設定
# =========================
app/weights/tts/**
app/weights/lipsync/**

# =========================
# システムプロンプト設定
# =========================
app/prompts/**

**.jpg
**.mp4