fastapi
uvicorn[standard]
flake8
isort<6
black
mypy
pysen
numpy==1.26.4
soundfile
openai-whisper
transformers
openai
pytest
pytest-asyncio
tiktoken
git-lfs
style_bert_vits2
sentence_transformers
pandas
protobuf
psycopg2-binary
sentencepiece
python-multipart
openai-agents
imageio
opencv-python
scikit-image
cython
librosa
onnxruntime
mediapipe
einops
filetype